
<!DOCTYPE html>
<html>
<head>
	<title>Pokes</title>

	<body>
		<h3>Welcome, {{user.name}} to your pokes</h3>
		<a href="/logout">Logout</a>
		<div id="box">
			{% for poke in my_pokes %}
			<p>{{poke.sender.alias}} gave you
			{{poke.pokes}} pokes(s).</p>
			{% endfor %}
		</div>
		<h5>People you may want to poke:</h5>
		<table>
			<tr>
				<th>Name</th>
				<th>Alias</th>
				<th>Email Address</th>
				<th>Poke History</th>
				<th>Action</th>
			</tr>
			{% for other_user in opokes %}
			<tr>
				<td>{{other_user.name}}</td>
				<td>{{other_user.alias}}</td>
				<td>{{other_user.email}}</td>
				<td>{{other_user.counter}}</td>
				<td>
					<form action="/poke_process" method="post">
						{% csrf_token %}
						<input type="hidden" name="receiver" value="{{other_user.id}}">
						<input type="submit" value="Poke!">
					</form>
          <p> Make sure to Llogout and Logback in to see who else poked you </p>
				</td>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>
